
<p-toolbar>
  <label class="ui-toolbar-group-left">
    {{title}}
  </label>
  
  <div class="ui-toolbar-group-right">
    <button pButton type="button" class="ui-button-primary" label="Calendar View" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></button>
    <button pButton type="button" class="ui-button-primary" label="List View" routerLink="/mytodo" routerLinkActive="active menu"></button>
    <button pButton type="button" class="ui-button-primary" label="Create new Todo" routerLink="/newtodo" routerLinkActive="active menu"></button>
  </div>
</p-toolbar>

<div class="content-section implementation">
  <!-- 
  <p-table [columns]="months" [value]="elements" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let month of months">
          {{month.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="months">
      <tr>
        <td *ngFor="let month of months">
          {{rowData[month.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="months">
        <tr>
          <td *ngFor="let month of months">
            {{rowData[month.field]}}
          </td>
        </tr>
      </ng-template>
  </p-table>  -->
</div>