<p-toolbar>
  <label class="ui-toolbar-group-left">
    {{title}}
  </label>
  
  <div class="ui-toolbar-group-right">
    <button pButton type="button" class="ui-button-primary" label="Calendar View" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></button>
    <button pButton type="button" class="ui-button-primary" label="Compliance View" routerLink="/compliance" routerLinkActive="active menu"></button>
    <button pButton type="button" class="ui-button-primary" label="Create new Todo" routerLink="/newtodo" routerLinkActive="active menu"></button>
  </div>
</p-toolbar>
<div class="ui-g">
  <div class="ui-g-9 ui-g-nopad">
    <p-accordion [multiple]="true">
      <div *ngFor="let ticket of tickets">
        <!-- <p-accordionTab [header]="ticket.name" [class.ui-accordiontab]="ticket.type == 'TC' ? 'ot-header' : 'ot-header'"> -->
        <p-accordionTab [header]="ticket.name" [class]="'ot-header'">
          <p-tabView>
            <p-tabPanel header="Display">
              {{ ticket.displaycontent }}
            </p-tabPanel>
            <p-tabPanel header="Edit">
              {{ ticket.editcontent }}
            </p-tabPanel>
            <p-tabPanel header="Start">
              {{ ticket.startcontent }}
            </p-tabPanel>
          </p-tabView>
        </p-accordionTab>
      </div>
    </p-accordion>
  </div>
  <div class="ui-g-3">
    <div class="ui-g-12">
      <div class="ui-g-12"><label for="groupSortBy">Sort By</label></div>
      <div *ngFor="let category of sortBy">
          <div class="ui-g-12">
            <p-checkbox name="groupSortBy" value={{category.val}} label={{category.label}} [(ngModel)]="selectedSortBy" inputId={{category.id}}></p-checkbox>
          </div>
      </div>
    </div>
    <hr>
    <div class="ui-g-12">
      <div class="ui-g-12"><label for="groupFilterBy">Plants</label></div>
      <!-- <p-autoComplete [(ngModel)]="plantsList" [suggestions]="filteredPlantsMultiple" (completeMethod)="filterPlantMultiple($event)" styleClass="wid200"
        [minLength]="1" placeholder="Plants" field="name" [multiple]="true" scrollHeight="200px">
      </p-autoComplete> -->
      <ng-select2 [(ngModel)]="selectedPlant" [options]="multipleOptions">
        <option *ngFor="let p of listPlants">{{p.name}}</option>
      </ng-select2>
      <div class="ui-g-12"></div>
      <div class="ui-g-12"><label for="groupFilterBy">Categories</label></div>
      <!-- <p-autoComplete [(ngModel)]="categoriesList" [suggestions]="filteredCategoriesMultiple" (completeMethod)="filterCategoriesMultiple($event)" styleClass="wid200"
        [minLength]="1" placeholder="Categories" field="name" [multiple]="true" scrollHeight="200px">
      </p-autoComplete> -->
      <ng-select2 [(ngModel)]="selectedCategories" [options]="multipleOptions">
        <option *ngFor="let p of Categories">{{p.name}}</option>
      </ng-select2>
      <div class="ui-g-12"></div>
      <div class="ui-g-12"><label for="groupFilterBy">Due Date Status</label></div>
      <!-- <p-autoComplete [(ngModel)]="dueDateStatusList" [suggestions]="filteredDueDateStatusMultiple" (completeMethod)="filterDueDateStatusMultiple($event)" styleClass="wid200"
        [minLength]="1" placeholder="Due Date Status" field="name" [multiple]="true" scrollHeight="200px">
      </p-autoComplete> -->
      <ng-select2 [(ngModel)]="selectedDueDateStatuses" [options]="multipleOptions">
        <option *ngFor="let p of listDueDateStatuses">{{p.name}}</option>
      </ng-select2>
      <div class="ui-g-12"></div>
      <div class="ui-g-12"><label for="groupFilterBy">Creator or last changed by</label></div>
      <!-- <p-autoComplete [(ngModel)]="creatorChangedList" [suggestions]="filteredCreatorChangedMultiple" (completeMethod)="filterCreatorChangedMultiple($event)" styleClass="wid200"
        [minLength]="1" placeholder="Creator or last changed by" field="name" [multiple]="true" scrollHeight="200px">
      </p-autoComplete> -->
      <ng-select2 [(ngModel)]="selectedCreatorEditor" [options]="multipleOptions">
        <option *ngFor="let ce of listCreatorEditor">{{ce.firstname}}</option>
      </ng-select2>
    </div>
    </div>
</div>
