<p-toolbar>
  <label class="ui-toolbar-group-left">
    {{title}}
  </label>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" class="ui-button-primary" label="Calendar View" routerLink=""
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></button>
    <button pButton type="button" class="ui-button-primary" label="List View" routerLink="/mytodo"
            routerLinkActive="active menu"></button>
    <button pButton type="button" class="ui-button-primary" label="Compliance View" routerLink="/compliance"
            routerLinkActive="active menu"></button>
  </div>
</p-toolbar>

<div class="ui-g">
  <div class="ui-g-8">
    <div style="border: 1px solid #dddddd;">
      <h2 style="background: #dddddd; margin: 10px; padding: 10px; color: #2399e5">Creat new todo</h2>

      <div style="margin-bottom: 10px;">
        <h3 style="margin-left:10px;padding: 8px; background: #dddddd; color: #2399e5; width: 50%; ">Ticket name*</h3>
        <label style="margin-left: 10px">
          <input type="text" size="103" pInputText style="height: 40px"/>
        </label>
      </div>

      <div style="margin: 10px;">
        <h3 style="padding: 8px; background: #dddddd; color: #2399e5; width: 50%; ">Description*</h3>
        <p-editor [(ngModel)]="text" [style]="{'height':'320px'}"></p-editor>
      </div>


    </div>
  </div>

  <div class="ui-g-4">
    <p style="font-weight: bold; font-size: x-large">Custom recurrence</p>
    <div class="row">
      <div class="block">Repeat every:</div>
      <p-spinner class="block" size="2" [(ngModel)]="val" [min]="1" [max]="80"></p-spinner>
      <p-dropdown class="block" [options]="time" [(ngModel)]="selectedTime" optionLabel="name"
                  autoWidth="false" [style]="{'width':'90%'}"></p-dropdown>
    </div>

    <div style="margin-top: 20px">Repeat on:</div>
    <div class="row">
      <label>
        <input class="toggle-btn" type="checkbox" value="S">
      </label>
      <label>
        <input class="toggle-btn" type="checkbox" value="M">
      </label>
      <label>
        <input class="toggle-btn" type="checkbox" value="T">
      </label>
      <label>
        <input class="toggle-btn" type="checkbox" value="W">
      </label>
      <label>
        <input class="toggle-btn" type="checkbox" value="T">
      </label>
      <label>
        <input class="toggle-btn" type="checkbox" value="F">
      </label>
      <label>
        <input class="toggle-btn" type="checkbox" value="S">
      </label>
    </div>

    <div style="margin-top: 10px;">Ends</div>

    <div class="ui-g">

      <div class="ui-g-12" style="margin: auto">
        <p-radioButton name="group1" value="Never" label="Never" inputId="opt1" [(ngModel)]="val2"></p-radioButton>
      </div>
      <div class="ui-g-3" style="margin: auto">
        <p-radioButton name="group1" value="Option 2" label="On" inputId="opt2" [(ngModel)]="val2"></p-radioButton>
      </div>

      <div class="ui-g-9" style="margin: auto">
        <p-calendar [(ngModel)]="date" [locale]="en" dateFormat="M dd, yy"
                    [inputStyle]="{'width':'55%','background-color': '#dddddd'}"></p-calendar>
      </div>

      <div class="ui-g-3" style="margin: auto">
        <p-radioButton name="group1" value="Option 3" label="After" inputId="opt3" [(ngModel)]="val2"></p-radioButton>
      </div>

      <div class="ui-g-9">
        <div style="background-color: #dddddd; width: fit-content; padding: 2px; border-radius: 5%">
          <p-spinner class="block" size="1" [(ngModel)]="val" [min]="1" [max]="80" disabled="true"
                     [inputStyle]="{'background-color': '#dddddd'}"></p-spinner>
          <span style="margin-left: 5px">occurrences</span>
        </div>
      </div>

      <div class="row" style="margin-left: 40%; margin-top: 20px">
        <button pButton type="button" label="Cancel" class="block ui-button-secondary"></button>
        <button pButton type="button" label="Save" class="block ui-button-secondary"></button>
      </div>


    </div>

  </div>

</div>
