.row {
  width: 100%;
}
.block {
  display: inline-block;
  margin-right: 5px;
  zoom: 1;
}
.ng-tns-c2-0 .ui-dropdown .ui-widget .ui-state-default .ui-corner-all .ui-helper-clearfix{
  color: #0a0a0a;
}
