.row {
  width: 100%;
}
.block {
  display: inline-block;
  margin-right: 5px;
  zoom: 1;
}

input.toggle-btn {
  visibility: hidden;
  margin: 10px;
}
input.toggle-btn::before {
  content: attr(value);
  background: #dddddd;
  color: #aaa;
  height: 25px;
  width: 25px;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #dddddd;
  visibility: visible;
}
input.toggle-btn:checked::before {
  background: rgb(50,150,250);
  color: #eee;
  border-color: rgb(50,150,250);
}

