<p-toolbar>
  <label class="ui-toolbar-group-left">
    {{title}}
  </label>
  
  <div class="ui-toolbar-group-right">
    <button pButton type="button" class="ui-button-primary" label="List View" routerLink="/mytodo" routerLinkActive="active menu"></button>
    <button pButton type="button" class="ui-button-primary" label="Compliance View" routerLink="/compliance" routerLinkActive="active menu"></button>
    <button pButton type="button" class="ui-button-primary" label="Create new Todo" routerLink="/newtodo" routerLinkActive="active menu"></button>
  </div>
</p-toolbar>
<div class="ui-g">
  <!-- <div class="ui-g-1"></div> -->
  <!-- FullCalendar -->
  <div class="ui-g-9 ui-g-nopad">
    <p-fullCalendar
      [events]="events"
      [options]="options"
      #gotoSelectedDate>
    </p-fullCalendar >

    <!-- Click Service call -->
    <!-- <p-dialog *ngIf="isServiceCall" [(visible)]="dialogServiceCallVisible" [responsive]="true" showEffect="fade" [modal]="true" [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false" [dismissableMask]="true" [showHeader]="false" [positionLeft]="150"> -->
      <!-- header -->
      <!-- <p-header>
        <p-inplace >
            <span pInplaceDisplay>
                {{event.title}}
            </span>
            <span pInplaceContent>
                <input pInputText id="title1" [(ngModel)]="event.title" />
            </span>
          </p-inplace>
      </p-header> -->
      <!-- content -->
      <!--
- plant - ms co plant_id
- participating people + số lượng người tham gia , moi co people_id-->
<p-dialog header="Title" [(visible)]="dialogServiceCallVisible">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">

        <div>People <span>{{event._people}}</span></div>
        <!-- <div *ngFor="let p of event.people" >{{p.nachname}}</div> -->


        <div>Number of People <span>{{event.numberOfPeople}}</span></div>
        <div>tsticket_id <span>{{event.tsticketID}}</span></div>
        <div>Plant <span>{{event.plantID}}</span></div>
        <div>Planned begin <span>{{event.plannedBegin}}</span></div>
        <div>Planned end <span>{{event.plannedEnd}}</span></div>
        <div>Note <span>{{event.comment}}</span></div>
        <div>From <span>{{event.start.toLocaleString()}}</span></div>
        <div>TO <span>{{event.end.toLocaleString()}}</span></div>
      </div>
      <!-- footer -->
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-times" (click)="deleteEvent()" label="Delete" [disabled]="!event?.id"></button>
          <!--<button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" [disabled]="!event?.start"></button>-->
          <button type="button" pButton icon="pi pi-pencil" (click)="editEvent(event)" label="Edit" [disabled]="!event?.id"></button>
        </div>
      </p-footer>
    </p-dialog>
    <!-- End click service call -->

    <!-- Click outage -->
    <p-dialog *ngIf="isOutage" [(visible)]="dialogOutageVisible" [responsive]="true" showEffect="fade" [modal]="true" [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false" [dismissableMask]="true" [showHeader]="false" [positionLeft]="150">
      <!-- header -->
      <p-header>
        <p-inplace >
            <span pInplaceDisplay>
                {{event.title}}
            </span>
            <span pInplaceContent>
                <input pInputText id="title2" [(ngModel)]="event.title" />
            </span>
          </p-inplace>
      </p-header>
      <!-- content -->
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
        <div>tsticket_id <span>{{event.tsticketID}}</span></div>
        <div>Plant <span>{{event.plantID}}</span></div>
        <div>Outage category <span>{{event.outageCategory}}</span></div>
        <div>Expected begin <span>{{event.expectedBegin}}</span></div>
        <div>Expected end <span>{{event.expectedEnd}}</span></div>
        <div>Note <span>{{event.comment}}</span></div>
        <div>From <span>{{event.start.toLocaleString()}}</span></div>
        <div>TO <span>{{event.end.toLocaleString()}}</span></div>
      </div>
      <!-- footer -->
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-times" (click)="deleteEvent()" label="Delete" [disabled]="!event?.id"></button>
          <!--<button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" [disabled]="!event?.start"></button>-->
          <button type="button" pButton icon="pi pi-pencil" (click)="editEvent(event)" label="Edit" [disabled]="!event?.id"></button>
        </div>
      </p-footer>
    </p-dialog>
    <!-- End click outage -->

    <!-- Click day -->
    
    <p-dialog header="Event Details" [(visible)]="dialogNewVisible" [responsive]="true" showEffect="fade" [modal]="true" [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false" [dismissableMask]="true" [showHeader]="false" [positionLeft]="150">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="vin">Title</label></div>
          <div class="ui-grid-col-8"><input pInputText id="" [(ngModel)]="event.title" /></div>
        </div>
        <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="start">Start</label></div>
        <div class="ui-grid-col-8">
          <p-calendar [(ngModel)]="event.start"
            dateFormat="yy-mm-dd"
            dataType="string"
            [disabledDays]="[0,6]"
            [showTime]="true">
          </p-calendar></div>
        </div>
        <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="end">End</label></div>
        <div class="ui-grid-col-8">
          <p-calendar [(ngModel)]="event.end"
            (onSelect)="onSelectEnd(event.end)"
            dateFormat="yy-mm-dd"
            dataType="string"
            [disabledDays]="[0,6]"
            [showTime]="true">
          </p-calendar>
        </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
          <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox></div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-save" (click)="saveEvent()" label="Save" [disabled]="!event?.start"></button>
        </div>
      </p-footer>
    </p-dialog>
  </div>
  <!-- Filter -->
  <div class="ui-g-3">
    <div class="ui-g-12"><br /></div>
    <div class="ui-g-12">
      <p-scrollPanel [style]="{width: '100%', height: '460px'}">
        <p-calendar [(ngModel)]="selectedDate" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [inline]="true" (onSelect)="gotoDate($event, gotoSelectedDate)"></p-calendar>
        <p-accordion [multiple]="true">
          <p-accordionTab header="Element" class="accordion-header">
            <p-accordion [multiple]="true">
              <p-accordionTab header="Services" class="accordion-header">
                  <!-- select2.org -->
                <label>Participating People</label>
                <ng-select2 [(ngModel)]="selectedSCsPeople" (ngModelChange)="filterAll($event)" [options]="multipleOptions">
                  <option *ngFor="let p of listParticipatingPeople" [value]="p.id" >{{p.nachname}} </option>
                </ng-select2>
                <label>Status</label>
                <ng-select2 [(ngModel)]="selectedSCsStatus" (ngModelChange)="filterAll($event)" [options]="singleOptions">
                  <option *ngFor="let s of ticketStatuses" [value]="s.id">{{s.name}}</option>
                </ng-select2>
              </p-accordionTab>
              <p-accordionTab header="Outages" class="accordion-header">
                <label>Outages category</label>
                <ng-select2 [(ngModel)]="selectedOutageCategories" (ngModelChange)="filterAll($event)" [options]="multipleOptions">
                  <option *ngFor="let c of outageCategories" [value]="c.id">{{c.name}}</option>
                </ng-select2>
                <label>Status</label>
                <ng-select2 [(ngModel)]="selectedOutageStatus" (ngModelChange)="filterAll($event)" [options]="singleOptions">
                  <option *ngFor="let s of ticketStatuses" [value]="s.id">{{s.name}}</option>
                </ng-select2>
              </p-accordionTab>
              <p-accordionTab header="To-Dos" class="accordion-header">
              </p-accordionTab>
            </p-accordion>
          </p-accordionTab>
          <p-accordionTab header="General" class="accordion-header">
            <label>Plants</label>
            <ng-select2 [(ngModel)]="selectedPlant" (ngModelChange)="filterAll($event)" [options]="multiplePlantsOptions">
              <option *ngFor="let p of listPlants" [value]="p.id">{{p.name}}</option>
            </ng-select2>
            <label for="creator-editor">Creator / Editor</label>
            <ng-select2 id="creator-editor" [(ngModel)]="selectedCreatorEditor" (ngModelChange)="filterAll($event)" [options]="multipleOptions">
              <option *ngFor="let ce of listCreatorEditor" [value]="ce.id">{{ce.nachname}}</option>
            </ng-select2>
            <label>Time Start</label>
            <div>
              <p-calendar [(ngModel)]="timeStart" (ngModelChange)="filterAll($event)" [readonlyInput]="true"
                          selectOtherMonths="true" [maxDate]="timeEnd" [showIcon]="true"></p-calendar>
            </div>
            <label>Time End</label>
            <div>
              <p-calendar [(ngModel)]="timeEnd" (ngModelChange)="filterAll($event)" [readonlyInput]="true"
                          selectOtherMonths="true" [minDate]="timeStart" [showIcon]="true"></p-calendar>
            </div>
          </p-accordionTab>
        </p-accordion>
      </p-scrollPanel>
    </div>
  </div>
</div>