<p-toolbar>
  <label class="ui-toolbar-group-left">
    {{title}}
  </label>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" class="ui-button-primary" label="List View" routerLink="/mytodo"
            routerLinkActive="active menu"></button>
    <button pButton type="button" class="ui-button-primary" label="Compliance View" routerLink="/compliance"
            routerLinkActive="active menu"></button>
    <button pButton type="button" class="ui-button-primary" label="Create new Todo" routerLink="/newtodo"
            routerLinkActive="active menu"></button>
  </div>
</p-toolbar>
<div class="ui-g">

  <!-- <div class="ui-g-1"></div> -->
  <!-- FullCalendar -->
  <div class="ui-g-9 ui-g-nopad">

    <p-fullCalendar
      [events]="events"
      [options]="options"
      #gotoSelectedDate>
    </p-fullCalendar>

    <!-- Start dialog outage detail -->
    <p-dialog *ngIf="eventOT" [showHeader]="false" [(visible)]="displayOutageDetail" [modal]="true" [responsive]="true"
              [style]="{width: '58%', minWidth: '200px'}" [minY]="70"
              [maximizable]="true" [baseZIndex]="10000"
              [dismissableMask]="true">
      <div style="width: 100%; height: auto; background-color: #dc5e14">

        <div class="ui-g" style="font-size: small">
          <div class="ui-g-6">
            <i class="fa fa-bolt" style="color: white; margin-right: 5px" aria-hidden="true"></i>
            <i class="fa fa-calendar" style="color: white" aria-hidden="true"></i>
            <span style="color: white"> {{eventOT.outageCategory || 'unknown'}} on plant </span>
            <i class="fa fa-map-marker" style="color: white" aria-hidden="true"></i>
            <span style="color: white"> {{eventOT.plantName || 'unknown'}} </span>
          </div>

          <div class="ui-g-6">
            <span style="color: white; float: right"> <i class="fa fa-ticket" aria-hidden="true"></i>
              #{{eventOT.tsticketID || 'unknown'}} {{eventOT.ticketName || 'unknown'}}
              <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span>
          </div>

        </div>

      </div>

      <div style="background-color:#ef894e; font-size: small">
        <div class="ui-g">
          <div class="ui-g-4" style="border: 1px dotted black; text-align: center">
            <i class="fa fa-play" aria-hidden="true"></i><span> Begin outage</span>
          </div>

          <div class="ui-g-4" style="border: 1px dotted black; text-align: center">
            <i class="fa fa-square" aria-hidden="true"></i> <span> End outage</span>
          </div>

          <div class="ui-g-4" style="border: 1px dotted black; text-align: center">
            <i class="fa fa-pencil" aria-hidden="true"></i><span> Edit outage</span>
          </div>

        </div>
      </div>

      <div style="border: 1px dotted black">

        <div class="ui-g">
          <div class="ui-g-1" style="margin: auto">
            <i class="fa fa-usd fa-4x"></i>
          </div>
          <div class="ui-g-11" style="font-size: small">
            <p>
              <span style="margin-left: 5px">Ticket:</span>
              <span
                style="color: #4887ca"> #{{eventOT.tsticketID || 'unknown'}} {{eventOT.ticketName || 'unknown'}}</span>
            </p>
            <p>
              <span style="margin-left: 5px">Kind of the outage</span>
            </p>
            <span>
              <span style="font-weight: bold; margin-left: 5px">{{eventOT.outageCategory || 'unknown'}} on plant <i
                class="fa fa-map-marker" aria-hidden="true"></i> {{eventOT.plantName || 'unknown'}}</span>
            </span>

          </div>
        </div>

        <hr style="opacity: 0.3; margin-top: 25px"/>

        <div style="margin-top: 25px; color: #0e3b61; font-size: small">
          <p><span>Planned begin: {{eventOT.expectedBegin || 'unknown'}}</span>

          <p><span>Planned end: {{eventOT.expectedEnd || 'unknown'}}</span>
        </div>

        <hr style="opacity: 0.3; margin-top: 25px"/>

        <div style="margin-top: 25px; margin-bottom: 20px; color: #0e3b61; font-size: small">
          <p>Notes about outages:</p>
          <span>{{eventOT.comment || 'unknown'}}</span>
        </div>

      </div>

    </p-dialog>
    <!-- End dialog outage detail -->

    <!-- Start dialog service call detail -->
    <p-dialog *ngIf="eventSC" [showHeader]="false" [(visible)]="displayServiceCallDetail" [modal]="true"
              [responsive]="true"
              [style]="{width: '58%', minWidth: '200px'}" [minY]="70"
              [maximizable]="true" [baseZIndex]="10000"
              [dismissableMask]="true">
      <div style="width: 100%; height: auto; background-color: #58585a">
        <div class="ui-g">
          <div class="ui-g-11" style="font-size: small">
            <div class="ui-g-7">
              <i class="fa fa-wrench" style="color: white; margin-right: 5px" aria-hidden="true"></i>
              <i class="fa fa-calendar" style="color: white" aria-hidden="true"></i>
              <span style="color: white"> {{eventSC.title || 'unknown'}} (<i class="fa fa-hospital-o"
                                                                             aria-hidden="true"></i> Demo Instance)</span>
              <i class="fa fa-long-arrow-right" style="margin-right: 5px; color: white" aria-hidden="true"></i>
              <i class="fa fa-map-marker" style="color: white" aria-hidden="true"></i>
            </div>

            <div class="ui-g-5">
              <span style="color: white; float: right"> <i class="fa fa-user"
                                                           aria-hidden="true"></i> {{eventSC.numberOfPeople}}- <i
                class="fa fa-ticket"
                aria-hidden="true"></i> #{{eventSC.tsticketID || 'unknown'}} {{eventSC.ticketName || 'unknown'}}</span>
            </div>

            <div class="ui-g-12" style="color: white">{{eventSC.plantName || 'unknown'}}</div>

          </div>

          <div class="ui-g-1" style="color: white; margin: auto; text-align: center">
            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
          </div>

        </div>

      </div>

      <div style="background-color:#7e7e81">
        <div class="ui-g" style="font-size: small">
          <div class="ui-g-4" style="border: 1px dotted black; text-align: center;">
            <a>
              <i class="fa fa-eye" aria-hidden="true"></i> <span> Display</span>
            </a>
          </div>

          <div class="ui-g-4" style="border: 1px dotted black; text-align: center">
            <i class="fa fa-pencil" aria-hidden="true"></i><span> Edit</span>
          </div>
          <div class="ui-g-4" style="border: 1px dotted black; text-align: center">
            <i class="fa fa-play" aria-hidden="true"></i><span> Start</span>
          </div>
        </div>
      </div>

      <div style="border: 1px dotted black">

        <div class="row">
          <div class="block">
            <i class="fa fa-cogs fa-4x"></i>
          </div>

          <div class="block">
            <div style="font-size: medium">
              <span>Service</span>
              <span style="font-weight: bold; color: #2E6E9E"> {{eventSC.title || 'unknown'}}</span>
              <span style="margin-left: 5px">on plant</span>
              <span style="font-weight: bold; color: #2E6E9E"> {{eventSC.plantName || 'unknown'}}</span>
            </div>
            <span style="font-size: small">Ticket:</span>
            <span
              style="font-size: medium; font-weight: bold; color: #2E6E9E"> #{{eventSC.tsticketID}} {{eventSC.ticketName || 'unknown'}}</span>
            <br/>
            <span style="font-size: small">This service is not based on an action request</span>
          </div>

        </div>


        <hr style="opacity: 0.3; margin-top: 10px"/>

        <div style="margin-top: 10px; margin-bottom: 20px; font-size: medium">
          <span>Planned Employees: </span>
          <!-- <button><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></button> -->
        </div>

        <div>
          <li style="font-size: small" *ngFor="let p of eventSC.listPeople">
            <!-- &#9679; -->
            <span style="background: #0e3b61; color: white; padding: 5px">
              <i class="fa fa-user" aria-hidden="true"></i>
              {{p.nachname}}
              <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
            </span>
          </li>
        </div>

        <hr style="opacity: 0.5; margin-top: 25px"/>

        <div style="margin-top: 25px; color: #0e3b61; font-size: small">
          <span>Planned begin: {{eventSC.plannedBegin || 'unknown'}}</span>
          <br/>
          <span>Planned end: {{eventSC.plannedEnd || 'unknown'}}</span>
        </div>

        <hr style="opacity: 0.3; margin-top: 25px"/>

        <div style="margin-top: 25px; margin-bottom: 20px; color: #0e3b61; font-size: small">
          <span>Notes:</span>
          <br/>
          <span>{{eventSC.comment || 'unknown'}}</span>
        </div>

      </div>

    </p-dialog>
    <!-- End dialog service call detail -->

    <!-- Click day -->

    <p-dialog header="Event Details" [(visible)]="dialogNewVisible" [responsive]="true" showEffect="fade" [modal]="true"
              [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false" [dismissableMask]="true" [showHeader]="false"
              [positionLeft]="150">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="vin">Title</label></div>
          <div class="ui-grid-col-8"><input pInputText id="" [(ngModel)]="event.title"/></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="start">Start</label></div>
          <div class="ui-grid-col-8">
            <p-calendar [(ngModel)]="event.start"
                        dateFormat="yy-mm-dd"
                        dataType="string"
                        [disabledDays]="[0,6]"
                        [showTime]="true">
            </p-calendar>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="end">End</label></div>
          <div class="ui-grid-col-8">
            <p-calendar [(ngModel)]="event.end"
                        (onSelect)="onSelectEnd(event.end)"
                        dateFormat="yy-mm-dd"
                        dataType="string"
                        [disabledDays]="[0,6]"
                        [showTime]="true">
            </p-calendar>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
          <div class="ui-grid-col-8">
            <p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox>
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-save" (click)="saveEvent()" label="Save"
                  [disabled]="!event?.start"></button>
        </div>
      </p-footer>
    </p-dialog>
  </div>

  <!-- Filter -->
  <div class="ui-g-3">
    <div class="ui-g-12"><br/></div>
    <div class="ui-g-12">
      <p-scrollPanel [style]="{width: '100%', height: '460px'}">
        <p-calendar [(ngModel)]="selectedDate" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                    [inline]="true" (onSelect)="gotoDate($event, gotoSelectedDate)"></p-calendar>
        <p-accordion [multiple]="true">
          <p-accordionTab header="Element" class="accordion-header" selected="true">
            <p-accordion [multiple]="true">
              <p-accordionTab header="Services" class="accordion-header" selected="true">
                <!-- select2.org -->
                <label>Participating People</label>
                <ng-select2 [(ngModel)]="selectedSCsPeople" (ngModelChange)="filterAll($event)"
                            [options]="multipleOptions">
                  <option *ngFor="let p of listParticipatingPeople" [value]="p.id">{{p.nachname}} </option>
                </ng-select2>
                <label>Status</label>
                <ng-select2 [(ngModel)]="selectedSCsStatus" (ngModelChange)="filterAll($event)"
                            [options]="singleOptions">
                  <option *ngFor="let s of ticketStatuses" [value]="s.id">{{s.name}}</option>
                </ng-select2>
              </p-accordionTab>
              <p-accordionTab header="Outages" class="accordion-header" selected="true">
                <label>Outages category</label>
                <ng-select2 [(ngModel)]="selectedOutageCategories" (ngModelChange)="filterAll($event)"
                            [options]="multipleOptions">
                  <option *ngFor="let c of outageCategories" [value]="c.id">{{c.name}}</option>
                </ng-select2>
                <label>Status</label>
                <ng-select2 [(ngModel)]="selectedOutageStatus" (ngModelChange)="filterAll($event)"
                            [options]="singleOptions">
                  <option *ngFor="let s of ticketStatuses" [value]="s.id">{{s.name}}</option>
                </ng-select2>
              </p-accordionTab>
              <p-accordionTab header="To-Dos" class="accordion-header">
              </p-accordionTab>
            </p-accordion>
          </p-accordionTab>
          <p-accordionTab header="General" class="accordion-header">
            <label>Plants</label>
            <ng-select2 [(ngModel)]="selectedPlant" (ngModelChange)="filterAll($event)"
                        [options]="multiplePlantsOptions">
              <option *ngFor="let p of listPlants" [value]="p.id">{{p.name}}</option>
            </ng-select2>
            <label for="creator-editor">Creator / Editor</label>
            <ng-select2 id="creator-editor" [(ngModel)]="selectedCreatorEditor" (ngModelChange)="filterAll($event)"
                        [options]="multipleOptions">
              <option *ngFor="let ce of listCreatorEditor" [value]="ce.id">{{ce.nachname}}</option>
            </ng-select2>
            <label>Time Start</label>
            <div>
              <p-calendar [(ngModel)]="timeStart" (ngModelChange)="filterAll($event)" [readonlyInput]="true"
                          selectOtherMonths="true" [maxDate]="timeEnd" [showIcon]="true"></p-calendar>
            </div>
            <label>Time End</label>
            <div>
              <p-calendar [(ngModel)]="timeEnd" (ngModelChange)="filterAll($event)" [readonlyInput]="true"
                          selectOtherMonths="true" [minDate]="timeStart" [showIcon]="true"></p-calendar>
            </div>
          </p-accordionTab>
        </p-accordion>
      </p-scrollPanel>
    </div>
  </div>
</div>
