.fc-italic,
.fc-italic > div > span {
  background-color: red; /* background color */
  border-color: white;     /* border color */
  color: white;           /* text color */
}

.filter-italic {
  background-color: green ;
}

.filter-scroll {
  /* width:256px; */
  height: 256px;
  overflow-x: auto;
  overflow-y: hidden;
}

/* dattepicker */
body .ui-datepicker {
  width: auto;
}

/* ui-tree */
// body .ui-tree {
//   border-style: none;
// }

.accordion-header {
  border-style: none;
}

// body .ui-accordion .ui-accordion-header {
//   border-style: none;
// }

/* ui-accordion */
body .ui-accordion .ui-accordion-content {
  padding: 0.25em;
}

.row {
  width: 100%;
  padding: 5px;
}
.block {
  margin: 5px;
  display: inline-block;
  zoom: 1;
}

.container {
  width: 100%;
  display: flex;
}

.left-button {
  width: 50%;
  margin-right: auto;
}

.right-button {
  text-align: right;
  width: 50%;
  margin-left: auto;
}